.show-disguise-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.show-disguise-img {
  width:400px;
  height:400px;
}

.show-disguise-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  width: fit-content;
}

.show-disguise-infos {
  background:white;
  width: 250px;
  border-radius:5px;
}

.disguise-title {
  padding:5px;
}

.disguise-details {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
}

.show-card-booking {
  margin:100px;
  height:100%;
  padding:10px;
}

.btn-outline-secondary:before {
  content:'\f060';
  font-family: FontAwesome;
  padding-right:10px;
}

.back_button {
  margin:20px;
  margin-left:0px;
}

.cards-disguise-show {
  padding: 0px;
  display:flex;
}

.form-wrapper {
  width: 400px;
}


