
.show-disguise-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.show-disguise-img {
  width:60vh;
  height: 70vh;
}

.show-disguise-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.show-disguise-infos {
  background:white;
  height: 70vh;
  width: 50vh;
  border-radius:5px;
  text-align: center;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.disguise-title {
  padding:5px;
  text-decoration: underline;
}

.disguise-details {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  font-weight: lighter;
  opacity: 0.9;
}

#disguise-price {
  font-weight: bold;
  opacity: 1;
}

.show-card-booking {
  margin:100px;
  height:100%;
  padding:10px;
}

.btn-outline-secondary:before {
  content:'\f060';
  font-family: FontAwesome;
  padding-right:10px;
}

.back_button {
  margin:20px;
  margin-left:0px;
}

.cards-disguise-show {
  padding: 0px;
  display:flex;
}

.form-wrapper {
  width: 400px;
}

.resa-info {
  margin: 10px 0px;
}

.form-wrapper {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 16px 24px;
}