.show-disguise-img {
  width:400px;
  height:400px;
  margin: 25px;
}

.show-disguise-img > img {
  height: 450px;
  width: 300px;
  object-fit: cover;
}

.show-disguise-infos {
  width: 500px;
}

.disguise-title {
  padding:5px;
  background:white;
  border-radius:5px;
}

.disguise-details {
  margin-left: 10px;
  margin-top: 10px;
  background: white;
  border-radius:5px;
  padding: 10px;
}

.show-card-booking {
  margin:100px;
  height:100%;
  background: white;
  border-radius: 5px;
  padding:10px;
}

.btn-outline-secondary:before {
  content:'\f060';
  font-family: FontAwesome;
  padding-right:10px;
}

.back_button {
  margin:20px;
}
