<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/zUD0bPRl30o);">
  <div class="container">
    <h1><strong>Doushka</strong> vous propose les <strong>plus beaux</strong> déguisements du monde !</h1>
    <p>Soirée déguisée, mariage, enterrement, diplôme, tout évènement est bon pour se déguiser.</p>
    <a class="btn btn-flat" href="#">Trouvez le déguisement parfait</a>
  </div>
</div>

