<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1598868116817-febbd119e53a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1><strong>Doushka</strong> vous propose les <strong>plus beaux</strong> déguisements du monde !</h1>
    <p id="banner-typed-text"> </p> 
    <%= link_to "Trouvez le déguisement parfait", disguises_path, class:" btn btn-outline-light" %> 
  </div>

</div>

<div class="cards-landing">
  <div class="card-landing">
    <%= image_tag "fun.png" %>
    <h4>Mega Fun</h4>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
    
  <div class="card-landing">
    <%= image_tag "les_sous.png" %>
    <h4>Economique</h4>
    <p>Lorem ipsum dolor sit amet.</p>        
  </div>

  <div class="card-landing">
    <%= image_tag "witch.png" %>
    <h4>Démentiel</h4>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>

<div class="colour-orange">
  <div class="carousel">
    <h2>Ils parlent des costumes de Douska! 👌</h2>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner ">
        <div class="carousel-item active text-center">
          <div class="card card-home review d-block" style="width: 30rem;">
            <div class="card-body-carousel">
              <h5 class="card-title">Martine</h5>
              <h6 class="card-subtitle mb-2 text-muted">Fan du Brésil</h6>
              <p class="card-text"><em>Grâce à Doushka et au déguisement de Samba j'ai passé un super carnival de Dunkerque.</em></p>
            </div>
          </div>
        </div>
        <div class="carousel-item text-center">
          <div class="card review d-block" style="width: 30rem;">
            <div class="card-body-carousel">
              <h5 class="card-title">Jean-Guy</h5>
              <h6 class="card-subtitle mb-2 text-muted">Propriétaire d'une boutique de déguisements</h6>
              <p class="card-text">Avant Doushka j'avais du mal à louer mes costumes en tout genre, mais ça c'était avant!</p>
            </div>
          </div>
        </div>
        <div class="carousel-item text-center">
          <div class="card review d-block" style="width: 30rem;">
            <div class="card-body-carousel">
              <h5 class="card-title">P'tit Louis</h5>
              <h6 class="card-subtitle mb-2 text-muted">Amateur de soirée arrosée</h6>
              <p class="card-text">Mon pot de départ n'aurait pas été le même sans costume. Merci Doushka !</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>