<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1584047237744-dfa1090b001d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1748&q=80);">
  <div class="container">
    <h1><strong>Doushka</strong> vous propose les <strong>plus beaux</strong> déguisements du monde !</h1>
    <p>Soirée déguisée, mariage, enterrement, diplôme, tout évènement est bon pour se déguiser.</p>
    <%= link_to "Trouvez le déguisement parfait", disguises_path, class:"btn btn-outline-light" %>
  </div>

</div>

<div class="cards-landing">

        <div class="card-landing">
          <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="">
          <h4>Rapidité</h4>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        

        <div class="card-landing">
          <img src="https://images.unsplash.com/photo-1473116763249-2faaef81ccda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1673&q=80" alt="">
          <h4>Originalité</h4>
          <p>Lorem ipsum dolor sit amet.</p>        
        </div>

        <div class="card-landing">
          <img src="https://images.unsplash.com/photo-1568971584452-9b19830e258a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2850&q=80" alt="">
          <h4>"Fun-attitude"</h4>
          <p>Lorem ipsum dolor sit amet.</p>        
        </div>
      </div>
    </div>


