.colour-orange {
    text-align: center;
    background-color: rgba(226,201,181,0.3);
    padding: 10px 1px 50px 0px;
}

.review  {
    text-align: center;
    margin: 0 auto;
}

.text-center {
    text-align: center !important;
}



h2 {
    font-weight: bold;
    font-family: "Nunito", "Helvetica", "sans-serif";
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-body-carousel {
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    padding: 10px;
    background-color: linen;
}