.cards-disguise {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card-disguise {
  background-size: cover;
  background-position: center;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  height: 400px;
  margin:30px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.delete-disguise {
  position:absolute;
  top: 8px;
  right: 16px;
  color: white;
}
.edit-disguise {
  position: absolute;
  color: white;
  right: 12px;
  top: 32px;
}

.card-disguise > img {
  height: 320px;
  width: 100%;
}

.card-disguise h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-disguise p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-disguise .card-disguise-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cards-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top:30px;
    font-size: 16px;
    font-weight: bold;

}

.card-landing {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230, 230, 230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
    margin-bottom: 22px;
}

.card-landing img {
    height: 100px;
}

.card-landing h4 {
  font-size: 20px;
  font-weight:bold;
  padding: 10px;
}

.card-landing p {
  font-size: 12px;
  font-weight:lighter;
}

.link_disguise {
  color: black;
}

.link_disguise:hover {
  color: black;
}

