.form-container {
    padding-top: 5px;
    justify-content: center;
    width: 75vh;
    margin: 0 auto;

    h2 {
        text-align: center;
    }

    .btn {
        color: white;
        margin-bottom: 8px;
        padding: 8px 24px;
        border-radius: 4px;
        font-weight: bold;
        background: linear-gradient(#FFCC29, #FFCC29);
        transition: background 0.3s ease;
        border: 1px solid #FFCC29;
        background-color: gray;
        color: white;
        width: 30%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .btn:hover {
        background: linear-gradient(#FFCC29, #FFCC29);
        color: white;
    }
}
