// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "footer";
@import "form";
@import "notification";
@import "searchbar";

#index-typed-text {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	color: white;
	font-weight: bold;
}

#dynamic_title {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	color: white;
}

.content {
	display: flex;
}

.all-container {
  padding: 0px;
  margin: 0px;
  background-color: #6e0230;
}

.cards-container{
  background-color: white;
  padding: 54px;
  margin: 54px;
  padding-top: 31px;
  margin-top: 0;
  padding-bottom: 31px;
  margin-bottom: 15px;
  border-radius: 6px;
}

#cleanbtn {
  color: #f8f9fa;
  border-color: #f8f9fa;
  height: 65px;
  margin-top: 12px;
  margin-right: 54px;
  margin-left: 30px;
}

#titlebtn {
  margin-left:30px;
  margin-right: 54px;
  height:70px;
}

#map {
  height: 80vh;
  position: sticky;
  top: 0;
}


/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards-disguise {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards-disguise {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards-disguise {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
