// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "footer";
@import "form";
@import "notification";
@import "searchbar";

#index-typed-text {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	color: #FFCC29;
	font-weight: bold;
}

#dynamic_title {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	color: #FFCC29;
}

.content {
	display: flex;
}


#map {
  height: 100vh;
  position: sticky;
  top: 0;
  padding-left: 20px;
}