// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "footer";
@import "form";
@import "notification";
@import "searchbar";

#index-typed-text {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	color: #FFCC29;
	font-weight: bold;
}

#dynamic_title {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	color: #FFCC29;
}

.content {
	display: flex;
}


#map {
  height: 80vh;
  position: sticky;
  top: 0;
}


/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards-disguise {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards-disguise {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards-disguise {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}