.notification {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  margin:15px;
  width: 800px;
  margin: 20px 100px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  font-size:12px;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.waiting_bookings {
  margin: 20px 50px;
}

.past_bookings {
  margin: 20px 50px;
}

#price_booking_notif {
  font-size: 20px;
  font-weight:bold;
  padding-top:5px;
}

.notification-content-info {
  width: 300px;
}
