.notification {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  width: 800px;
  margin: 20px auto;
  height: 130px;
}

.notification-disguise {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  width: 450px;
  margin: 20px auto;
  height: 130px;
}


.notification .notification-content {
  flex-grow: 1;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  font-size:13px;
}

.booking_title {
  margin-left: 20px;
  margin-top: 20px;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.waiting_bookings {
  margin: 10px 50px 80px 50px;
}

.past_bookings {
  margin: 10px 50px 80px 50px;
}

#price_booking_notif {
  font-size: 20px;
  font-weight:bold;
  padding-top:5px;
}

.notification-content-info {
  width: 300px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notification-content-info > h5 {
  margin: 0;
}

.notification-content-dates {
  padding: 0 0 0 25px;
}


.notification .notification-content-status {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 25px;
}

h3 {
  margin-bottom: 30px;
}

.bookings_my_disguise {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 16px 24px;
  width: 400px;
}

.notification-disguise {
  width:100%;
}

.notification-content-disguise {
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.button_confirmation {
  color: green;
}
